body{
    font-family: 'Montserrat';
}



h1{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

h2{
    font-family: 'Montserrat';
    font-size: 2.5rem;
    font-weight: 800;
}

.carousel-item{
    padding: 7% 15%;
}

.container-fluid{
    padding: 5% 15%;
    overflow: hidden;
}

.download{
    margin: 5% 3%;
}


.feature-container h3{
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: 900;
 }


.feature-container p{
    color: #8f8f8f;
 }

.feature-container{
    padding: 10% 5%;
    text-align: center;
}

.feature-icons{
    margin: 25px 0;
    width: 100%;
    color: #ef8172;
}

.feature-icons:hover{
    color: #ff4c68;
}


.navbar{
    padding:0 0 8%;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 2rem;
}


.nav-item{
 padding: 0 8%;
 font-size: large;

}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.testimonial-img{
    margin: 20px;
    width: 10%;
    border-radius: 50%;
}



#phone{
    transform: rotate(25deg);
    padding-left: 15%;
    width: 80%;

}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}

#testimonials{
    background-color: #ef8172;
    text-align: center;
    color: white;
}

#title{
    background-color: #ff4c68;
}


